{% extends "index.html" %}

{% block highlights %}

    <div class="container">
      <h1 class="title">Section</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>

      <h1 class="title">Highlights</h1>

      {% for export_key in exports %} 
          <div class="subtitle">{{ export_key }}</div>
          <textarea id="w3review" name="w3review" rows="4" cols="50">
              {{ exports[export_key] }}
          </textarea>
      {% endfor %}

</div>

    

{% endblock %}